*{

}
body{
    width: 820px;
    font-size: 14px;
    line-height: 1.25;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    background-image: url("../Image/background1.jpg");
    background-size: cover;
    display: flex;
    margin: auto;
}
.cv{
    width: 100%;
    height: 100%;
    margin: auto;
}
.cv .name-group{
    background-color: #c5cec3;
    height: 150px;
    letter-spacing: 2px;
}
.cv .name-group p{
    margin-left: 250px;
    padding-top: 50px;
}
.cv .intro-group{
    background-color: #ffffff;
    height: 880px;
    width: 200px;
    margin-top: -120px;
    margin-left: 20px;
    position: relative;
}
.cv .intro-group .name-big{
    margin-left: 8px;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.cv .intro-group .number{
    margin-left: 8px;
    font-size: 15px;
    font-weight: 400;
}
.cv .intro-group .mail{
    margin-left: 8px;
    font-size: 15px;
    font-weight: 400;
}
.cv .intro-group .add{
    margin-left: 8px;
    font-size: 15px;
    font-weight: 400;
}
.cv .intro-group .face{
    margin-left: 8px;
    font-size: 15px;
    font-weight: 400;
}
.cv .intro-group hr{
    width: 180px;
}
.cv .intro-group .name-big2{
    margin-left: 8px;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.cv .intro-group .info-edu1{
    margin-left: 8px;
    font-size: 15px;
}
.cv .intro-group .info-edu2{
    margin-left: 8px;
    font-size: 15px;
}
.cv .intro-group .expertise{
    margin-left: 8px;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.cv .intro-group .p1{
    margin-left: 8px;
    font-size: 15px;
    font-weight: 400;
}
.cv .intro-group .p2{
    margin-left: 8px;
    font-size: 15px;
    font-weight: 400;
}
.cv .intro-group .p3{
    margin-left: 8px;
    font-size: 15px;
    font-weight: 400;
}
.cv .intro-group .p4{
    margin-left: 8px;
    font-size: 15px;
    font-weight: 400;
}
.cv .intro-group .p5{
    margin-left: 8px;
    font-size: 15px;
    font-weight: 400;
}
.cv .dsr-group{
    background-color: #b0f8b0;
    margin-top: -800px;
    height: 770px;
}
.cv .dsr-group .profile{
    margin-left: 250px;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 10px;
    padding-top: 35px;
}
.cv .dsr-group .dcs-prf{
    margin-left: 250px;
    font-size: 15px;
    font-weight: 400;
    margin-top:5px ;
}
.cv .dsr-group hr{
    width: 550px;
    margin-left: 250px;
    margin-top: 30px;
}
.cv .dsr-group .prf-exp{
    margin-left: 250px;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.cv .dsr-group .title1{
    margin-left: 250px;
}
.cv .dsr-group .dcr-job1{
    margin-left: 250px;
}
.cv .dsr-group ul{
    margin-left: 250px;
}


